/ExportClienteImpl.java
/ImportClienteImpl.java
/ListClienteImpl.java
/CreateBulkClienteImpl.java
/CreateClienteImpl.java
/CreateMergeClienteImpl.java
/DeleteClienteImpl.java
/RetrieveClienteImpl.java
/UpdateClienteImpl.java
/UpdateMergeClienteImpl.java
