/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f5f7f8;
  margin: 0;
}

.navBar {
  background-color: #273033;
  height: 4rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  display: block;
  z-index: 99;
  position: relative;
}

.sideNav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  width: 260px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
}

@media (max-width: 991px) {
  .sideNav {
    left: -260px;
    transition: left .2s;
    z-index: 1;
  }

  body .layout-wrapper {
    margin-left: 0;
    transition: left .2s;
    z-index: 9999;
  }

}

.navBar .ui-g{
  display: inherit;
}

.layout-wrapper {
  margin-left: 260px;
  margin-top: 50px;
  padding: 0 1rem 1rem;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 4rem;
}

.nav li {
  display: block;
  padding: 0;
  border-bottom: #e3e9ea solid 1px;
}

.nav a {
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
  display: block;
  padding: 18px 35px;
  color: #757575;
  height: 3.5rem;
}

.nav a:hover {
  background-color: #cfd8dc;
  color: #757575;
}

.nav .active-link {
  color: #007ad9;
}

.nav .active-link:hover {
  color: #007ad9;
}

.nav i {
  font-size: 24px !important;
  float: left;
  margin-right: 15px;
  width: 30px;
  text-align: center;
}

.nav p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  right: -1px;
  top: 8px;
}

.nav-open{
  left: 0;
}
