<div *ngIf="!customTemplate else customTemplate">
    <p-confirmDialog acceptLabel="{{'yes' | translate}}" acceptIcon="" rejectLabel="{{'no' | translate}}"
        rejectIcon="">
    </p-confirmDialog>
    <form [formGroup]="formGroup" novalidate>
        <p-panel styleClass="form-group" [toggleable]="false" [collapsed]="mainPanelCollapsed">
            <p-header>
                {{"furb.basico.shopping_list_form_general_title" | translate}}
            </p-header>
            <div class="ui-fluid" *ngIf="!customFormFields else customFormFields">
                <div class="ui-g">
                    <div [attr.data-hidden]="true" class="ui-g-12 ui-md-6">
                        <label for="id">{{"furb.basico.shopping_list_id" | translate}}</label>
                        <input type="text" id="id" name="id" pInputText formControlName="id" autocomplete="off" />
                    </div>
                    <div class="ui-g-12 ui-md-6 required">
                        <label for="description">{{"furb.basico.shopping_list_description" | translate}}</label>
                        <input type="text" id="description" name="description" pInputText formControlName="description" autocomplete="off"
                        />
                        <s-control-errors [control]="formGroup.controls['description']" [errorMessages]="{ required: 'error_required' | translate }"></s-control-errors>
                    </div>
                    <div [attr.data-hidden]="!allPermissions?.itemList.visualizar" class="ui-g-12 ui-md-6 required">
                        <label for="items">{{"furb.basico.shopping_list_items" | translate}}</label>
                        <s-lookup dataKey="id" id="items" name="items" formControlName="items" [searchFields]="itemsSearchFields"
                            [searchGridFields]="itemsSearchGridFields" [searchGridData]="itemsSearchGridData"
                            [multiple]="true" [lookupSuggestions]="itemsLookupSuggestions" (onLookupRequest)="onItemsLookupRequest($event)"
                            (onSearchRequest)="onItemsSearchRequest($event)" lookupDisplayField="id" [searchTotalRecords]=itemsSearchTotalRecords
                            [searchTitle]="'furb.basico.shopping_list_items_search_title' | translate" [searchEmptyTitle]="'nothing_found' | translate"
                            [filterLabel]="'filter' | translate" [clearLabel]="'clear' | translate" [cancelLabel]="'cancel' | translate"
                            [selectLabel]="'select' | translate" [searchTotalRecordsLabel]="'total_records' | translate: {value: itemsSearchTotalRecords}"></s-lookup>
                        <s-control-errors [control]="formGroup.controls['items']" [errorMessages]="{ required: 'error_required' | translate }"></s-control-errors>
                    </div>
                </div>
            </div>
            <p-footer>
                <button id="save-button" title="{{'save' | translate}} (Alt + Shift + S)" type="submit" pButton label="{{'save' | translate}}"
                    (click)="onSave()" *ngIf="isNew() || permissions.editar"></button>
                <button id="delete-button" title="{{'delete' | translate}} (Alt + Shift + X)" type="button" class="ui-button-secondary"
                    pButton label="{{'delete' | translate}}" (click)="onDelete()" *ngIf="!isNew() && permissions.excluir && !loading"></button>
                <button id="cancel-button" title="{{'cancel' | translate}} (Alt + Shift + C)" type="button" class="ui-button-link"
                    pButton label="{{'cancel' | translate}}" (click)="onCancel()"></button>
            </p-footer>
        </p-panel>
    </form>
</div>
<!--{CA:FILE_CONTENTS:START}-->
<!--{CA:FILE_CONTENTS:END}-->