<div *ngIf="!customTemplate else customTemplate">
    <p-confirmDialog acceptLabel="Sim" acceptIcon="" rejectLabel="Não"
        rejectIcon="">
    </p-confirmDialog>
    <form [formGroup]="formGroup" novalidate>
        <p-panel styleClass="form-group" [toggleable]="false" [collapsed]="mainPanelCollapsed">
            <p-header>
                Lista de Compras
            </p-header>
            <div class="ui-fluid" *ngIf="!customFormFields else customFormFields">
                <div class="ui-g">
                    <div [attr.data-hidden]="true" class="ui-g-12 ui-md-6">
                        <label for="id">Código</label>
                        <input type="text" id="id" name="id" pInputText formControlName="id" autocomplete="off" />
                    </div>
                    <div class="ui-g-12 ui-md-6 required">
                        <label for="description">Descrição</label>
                        <input type="text" id="description" name="description" pInputText formControlName="description" autocomplete="off"
                        />
                        <s-control-errors [control]="formGroup.controls['description']" [errorMessages]="{ required: 'Informação obrigatória' }"></s-control-errors>
                    </div>
                    <div class="ui-g-12 ui-md-6 required">
                        <label for="items">Items</label>
                        <s-lookup dataKey="id" id="items" name="items" formControlName="items" [searchFields]="itemsSearchFields"
                            [searchGridFields]="itemsSearchGridFields" [searchGridData]="itemsSearchGridData"
                            [multiple]="true" [lookupSuggestions]="itemsLookupSuggestions" (onLookupRequest)="onItemsLookupRequest($event)"
                            (onSearchRequest)="onItemsSearchRequest($event)" lookupDisplayField="product.description" [searchTotalRecords]=itemsSearchTotalRecords
                            searchTitle="Buscar Lista de compras" searchEmptyTitle="Nenhuma lista de compras encontrada"
                            filterLabel="Filtrar" clearLabel="Limpar" cancelLabel="Cancelar"
                            selectLabel="Selecionar" searchTotalRecordsLabel="Registos encontrados: {{ itemsSearchTotalRecords }}"></s-lookup>
                        <s-control-errors [control]="formGroup.controls['items']" [errorMessages]="{ required: 'Informação obrigatória' }"></s-control-errors>
                    </div>
                    <div class="ui-g-12">
                        <p-table [columns]="itemListColumns" [value]="itemListValues">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns">
                                        {{col.header}}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                <tr>
                                    <td *ngFor="let col of columns">
                                        {{ getRowData(rowData, col) }}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
            <p-footer>
                <button id="save-button" title="Salvar" type="submit" pButton label="Salvar"
                    (click)="onSave()"></button>
                <button id="delete-button" title="Excluir" type="button" class="ui-button-secondary"
                    pButton label="Excluir" (click)="onDelete()" *ngIf="!isNew() && !loading"></button>
                <button id="cancel-button" title="Cancelar" type="button" class="ui-button-link"
                    pButton label="Cancelar" (click)="onCancel()"></button>
            </p-footer>
        </p-panel>
    </form>
</div>
