<div *ngIf="!customTemplate else customTemplate">
    <p-confirmDialog acceptLabel="Sim" acceptIcon="" rejectLabel="Não" rejectIcon=""></p-confirmDialog>
    <form [formGroup]="filterFormGroup" autocomplete="off">
        <p-panel styleClass="form-group" [toggleable]="true" [(collapsed)]="filtersPanelCollapsed">
            <p-header>
                Filtros
                <s-token-list [tokens]="searchTokens" (tokenRemoved)="onRemoveToken($event)" [removableTokens]="true"></s-token-list>
            </p-header>
            <div *ngIf="!customFilterFields else customFilterFields">
                <s-dynamic-form [fields]="filterFields" [form]="filterFormGroup" [errorMessages]="{pattern: 'O valor informado é inválido'}"></s-dynamic-form>
            </div>
            <p-footer>
                <div class="ui-g">
                    <div class="ui-g-12">
                        <button id="filter-button" class="ui-button" type="submit" pButton label="Filtrar" (click)="onSearch()"></button>
                        <button id="clear-button" class="ui-button ui-button-link" type="button" pButton label="Limpar"
                            (click)="onClear()"></button>
                    </div>
                </div>
            </p-footer>
        </p-panel>
    </form>
    <p-panel *sLoadingState="showLoader">
        <p-header>
            Items
        </p-header>
        <s-empty-state *ngIf="serverError" iconClass="fa fa-exclamation-triangle" title="Erro na busca das informações"
            primaryActionLabel="Atualizar" (primaryAction)="resetGrid()" description="Atualize a página e caso o erro continue, entre em contato com o Administrador do sistema"></s-empty-state>
        <s-empty-state *ngIf="gridData && !gridData.length" title="Nenhum Item encontrado"
             primaryActionLabel="Adicionar" (primaryAction)="onAdd()"
            description="Clique no botão abaixo para adicionar"></s-empty-state>
        <div [attr.data-hidden]="!gridData?.length">
            <div class="ui-g">
                <div class="ui-g-12">
                    <button id="add-button" type="button" pButton label="Adicionar" title="Adicionar"
                         (click)="onAdd()"></button>
                    <button id="edit-button" type="button" class="ui-button-secondary" pButton label="Alterar"
                        title="Alterar" [disabled]="!selection || selection.length !== 1"
                        (click)="onEdit()"></button>
                    <button id="delete-button" type="button" class="ui-button-secondary" pButton label="Excluir"
                        title="Excluir" (click)="onDelete()" [disabled]="!selection || !selection.length"
                        ></button>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12">
                    <p-table #itemListTable [value]="gridData" [columns]="gridColumns" dataKey="id" [lazy]="true" [scrollable]="true"
                        [resizableColumns]="true" sortMode="multiple" [paginator]="true" [totalRecords]="totalRecords"
                        rows="10" [rowsPerPageOptions]="[10, 20, 50, 100]" [(selection)]="selection" (onLazyLoad)="onGridChange($event)">
                        <ng-template pTemplate="colgroup" let-columns *ngIf="!customGridColgroup else customGridColgroup">
                            <colgroup>
                                <col *ngFor="let col of columns" [style.width]="col.width">
                            </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns *ngIf="!customGridHeader else customGridHeader">
                            <tr>
                                <th style="width: 40px">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field" style="width: 200px" pResizableColumn>
                                    <div class="senior-header">
                                        <span class="senior-header-title">{{col.header}}</span>
                                        <p-sortIcon [field]="col.field"></p-sortIcon>
                                    </div>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns *ngIf="!customGridBody else customGridBody">
                            <tr [pSelectableRow]="rowData">
                                <td style="width: 40px">
                                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                                </td>
                                <!--
                                <td (click)="selection = [rowData]" style="width: 200px">
                                    <span>{{rowData["id"]}}</span>
                                </td>
                                -->
                                <td (click)="selection = [rowData]" style="width: 200px">
                                    <span>{{rowData["quantity"]}}</span>
                                </td>
                                <td (click)="selection = [rowData]" style="width: 200px">
                                    <span>{{rowData["price"]}}</span>
                                </td>
                                <td (click)="selection = [rowData]" style="width: 200px">
                                    <p-checkbox [(ngModel)]="rowData['checked']" [disabled]="true" [binary]="true"></p-checkbox>
                                </td>
                                <!-- <td (click)="selection = [rowData]" style="width: 200px">
                                    <span>{{rowData["note"]}}</span>
                                </td> -->
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="paginatorright">
                            <span>{{ totalRecords }} registros</span>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </p-panel>
</div>
