<div *ngIf="!customTemplate else customTemplate">
    <p-confirmDialog acceptLabel="Sim" acceptIcon="" rejectLabel="Não"
        rejectIcon="">
    </p-confirmDialog>
    <form [formGroup]="formGroup" novalidate>
        <p-panel styleClass="form-group" [toggleable]="false" [collapsed]="mainPanelCollapsed">
            <p-header>
                Produto
            </p-header>
            <div class="ui-fluid" *ngIf="!customFormFields else customFormFields">
                <div class="ui-g">
                    <div [attr.data-hidden]="true" class="ui-g-12 ui-md-6">
                        <label for="id">Código</label>
                        <input type="text" id="id" name="id" pInputText formControlName="id" autocomplete="off" />
                    </div>
                    <div class="ui-g-12 ui-md-6 required">
                            <label for="category">Categoria</label>
                            <s-lookup dataKey="id" id="category" name="category" formControlName="category" [searchFields]="categorySearchFields"
                                [searchGridFields]="categorySearchGridFields" [searchGridData]="categorySearchGridData"
                                [multiple]="false" [lookupSuggestions]="categoryLookupSuggestions" (onLookupRequest)="onCategoryLookupRequest($event)"
                                (onSearchRequest)="onCategorySearchRequest($event)" lookupDisplayField="description" [searchTotalRecords]=categorySearchTotalRecords
                                searchTitle="Buscar Categoria" searchEmptyTitle="Nenhuma Categoria encontrada"
                                filterLabel="Filtrar" clearLabel="Limpar" cancelLabel="Cancelar"
                                selectLabel="Selecionar" searchTotalRecordsLabel="Registos encontrados: {{ categorySearchTotalRecords }}"></s-lookup>
                            <s-control-errors [control]="formGroup.controls['category']" [errorMessages]="{ required: 'Informação obrigatória' }"></s-control-errors>
                    </div>
                    <div class="ui-g-12 ui-md-8 required">
                        <label for="description">Descrição</label>
                        <input type="text" id="description" name="description" pInputText formControlName="description" autocomplete="off"
                        />
                        <s-control-errors [control]="formGroup.controls['description']" [errorMessages]="{ required: 'Informação obrigatória' }"></s-control-errors>
                    </div>
                    <div class="ui-g-12 ui-md-4 required">
                        <label for="unit">Unidade de medida</label>
                        <p-dropdown inputId="unit" name="unit" [options]="unit" formControlName="unit" [autoWidth]="false" placeholder="Escolha a unidade de medida"></p-dropdown>
                        <s-control-errors [control]="formGroup.controls['unit']" [errorMessages]="{ required: 'Informação obrigatória' }"></s-control-errors>
                    </div>
                </div>
            </div>
            <p-footer>
                <button id="save-button" title="Salvar" type="submit" pButton label="Salvar"
                    (click)="onSave()"></button>
                <button id="delete-button" title="Excluir" type="button" class="ui-button-secondary"
                    pButton label="Excluir" (click)="onDelete()" *ngIf="!isNew() && !loading"></button>
                <button id="cancel-button" title="Cancelar" type="button" class="ui-button-link"
                    pButton label="Cancelar" (click)="onCancel()"></button>
            </p-footer>
        </p-panel>
    </form>
</div>
