/ExportClienteInput.java
/ExportClienteOutput.java
/ExportClienteResponse.java
/ImportClienteInput.java
/ImportClienteOutput.java
/ImportClienteResponse.java
/ListClienteResponse.java
/CreateBulkClienteInput.java
/CreateBulkClienteOutput.java
/CreateBulkClienteResponse.java
/CreateClienteResponse.java
/CreateMergeClienteResponse.java
/RetrieveClienteResponse.java
/UpdateClienteResponse.java
/UpdateMergeClienteResponse.java
/ExportClienteEvent.java
/ExportClienteEventPayload.java
/ImportClienteEvent.java
/ImportClienteEventPayload.java
/Cliente.java
/PersistShoppingListInput.java
/PersistShoppingListOutput.java
/PersistShoppingListResponse.java
/ReturnShoppingListInput.java
/ReturnShoppingListOutput.java
/ReturnShoppingListResponse.java
/PersistStatus.java
/CategoryDto.java
/ItemListDto.java
/ProductDto.java
/ShoppingListDto.java
