<div *ngIf="!customTemplate else customTemplate">
    <p-confirmDialog [acceptLabel]="'yes' | translate" acceptIcon="" [rejectLabel]="'no' | translate" rejectIcon=""></p-confirmDialog>
    <form [formGroup]="filterFormGroup" autocomplete="off">
        <p-panel styleClass="form-group" [toggleable]="true" [(collapsed)]="filtersPanelCollapsed">
            <p-header>
                {{"filters" | translate}}
                <s-token-list [tokens]="searchTokens" (tokenRemoved)="onRemoveToken($event)" [removableTokens]="true"></s-token-list>
            </p-header>
            <div *ngIf="!customFilterFields else customFilterFields">
                <s-dynamic-form [fields]="filterFields" [form]="filterFormGroup" [errorMessages]="{pattern: 'error_invalid' | translate}"></s-dynamic-form>
            </div>
            <p-footer>
                <div class="ui-g">
                    <div class="ui-g-12">
                        <button id="filter-button" class="ui-button" type="submit" pButton [label]="'filter' | translate" (click)="onSearch()"></button>
                        <button id="clear-button" class="ui-button ui-button-link" type="button" pButton [label]="'clear' | translate"
                            (click)="onClear()"></button>
                    </div>
                </div>
            </p-footer>
        </p-panel>
    </form>
    <p-panel *sLoadingState="showLoader">
        <p-header>
            {{"furb.basico.product_list_grid_title" | translate}}
        </p-header>
        <s-empty-state *ngIf="serverError" iconClass="fa fa-exclamation-triangle" title="{{'error_server_title' | translate}}"
            primaryActionLabel="{{'error_server_try_again' | translate}}" (primaryAction)="resetGrid()" description="{{'error_server_description' | translate}}"></s-empty-state>
        <s-empty-state *ngIf="gridData && !gridData.length" [title]="'furb.basico.product_empty_state_title' | translate"
            [showPrimaryAction]="permissions.incluir" [primaryActionLabel]="'add' | translate" (primaryAction)="onAdd()"
            [description]="'furb.basico.product_empty_state_description' | translate"></s-empty-state>
        <div [attr.data-hidden]="!gridData?.length">
            <div class="ui-g">
                <div class="ui-g-12">
                    <button id="add-button" type="button" pButton [label]="'add' | translate" title="{{'add' | translate}} (Alt + Shift + N)"
                        *ngIf="permissions.incluir" (click)="onAdd()"></button>
                    <button id="edit-button" type="button" class="ui-button-secondary" pButton [label]="'edit' | translate"
                        title="{{'edit' | translate}} (Alt + Shift + E)" [disabled]="!selection || selection.length !== 1"
                        (click)="onEdit()"></button>
                    <button id="delete-button" type="button" class="ui-button-secondary" pButton [label]="'delete' | translate"
                        title="{{'delete' | translate}} (Alt + Shift + X)" (click)="onDelete()" [disabled]="!selection || !selection.length"
                        *ngIf="permissions.excluir"></button>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12">
                    <p-table #productTable [value]="gridData" [columns]="gridColumns" dataKey="id" [lazy]="true" [scrollable]="true"
                        [resizableColumns]="true" sortMode="multiple" [paginator]="true" [totalRecords]="totalRecords"
                        rows="10" [rowsPerPageOptions]="[10, 20, 50, 100]" [(selection)]="selection" (onLazyLoad)="onGridChange($event)">
                        <ng-template pTemplate="colgroup" let-columns *ngIf="!customGridColgroup else customGridColgroup">
                            <colgroup>
                                <col *ngFor="let col of columns" [style.width]="col.width">
                                <!--{CA:GRID_COLGROUP_COLUMNS:START}-->
                                <!--{CA:GRID_COLGROUP_COLUMNS:END}-->
                            </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns *ngIf="!customGridHeader else customGridHeader">
                            <tr>
                                <th style="width: 40px">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field" style="width: 200px" pResizableColumn>
                                    <div class="senior-header">
                                        <span class="senior-header-title">{{col.header}}</span>
                                        <p-sortIcon [field]="col.field"></p-sortIcon>
                                    </div>
                                </th>
                                <!--{CA:GRID_HEADER_COLUMNS:START}-->
                                <!--{CA:GRID_HEADER_COLUMNS:END}-->
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns *ngIf="!customGridBody else customGridBody">
                            <tr [pSelectableRow]="rowData">
                                <td style="width: 40px">
                                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                                </td>
                                <td (click)="selection = [rowData]" style="width: 200px">
                                    <span>{{rowData["id"]}}</span>
                                </td>
                                <td (click)="selection = [rowData]" style="width: 200px">
                                    <span>{{rowData["description"]}}</span>
                                </td>
                                <td (click)="selection = [rowData]" style="width: 200px">
                                    <div [ngSwitch]="rowData['unit']">
                                        <span *ngSwitchCase="'UN'">{{ "furb.basico.unit_un" | translate }}</span>
                                        <span *ngSwitchCase="'DZ'">{{ "furb.basico.unit_dz" | translate }}</span>
                                        <span *ngSwitchCase="'ML'">{{ "furb.basico.unit_ml" | translate }}</span>
                                        <span *ngSwitchCase="'L'">{{ "furb.basico.unit_l" | translate }}</span>
                                        <span *ngSwitchCase="'KG'">{{ "furb.basico.unit_kg" | translate }}</span>
                                        <span *ngSwitchCase="'G'">{{ "furb.basico.unit_g" | translate }}</span>
                                        <span *ngSwitchCase="'CAIXA'">{{ "furb.basico.unit_caixa" | translate }}</span>
                                        <span *ngSwitchCase="'EMBALAGEM'">{{ "furb.basico.unit_embalagem" | translate }}</span>
                                        <span *ngSwitchCase="'GALAO'">{{ "furb.basico.unit_galao" | translate }}</span>
                                        <span *ngSwitchCase="'GARRAFA'">{{ "furb.basico.unit_garrafa" | translate }}</span>
                                        <span *ngSwitchCase="'LATA'">{{ "furb.basico.unit_lata" | translate }}</span>
                                        <span *ngSwitchCase="'PACOTE'">{{ "furb.basico.unit_pacote" | translate }}</span>
                                    </div>
                                </td>
                                <!--{CA:GRID_BODY_COLUMNS:START}-->
                                <!--{CA:GRID_BODY_COLUMNS:END}-->
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="paginatorright">
                            <span [translate]="'total_records'" [translateParams]="{value: totalRecords}"></span>
                        </ng-template>
                        <!--{CA:GRID_TEMPLATES:START}-->
                        <!--{CA:GRID_TEMPLATES:END}-->
                    </p-table>
                </div>
            </div>
        </div>
    </p-panel>
</div>
<!--{CA:FILE_CONTENTS:START}-->
<!--{CA:FILE_CONTENTS:END}-->