<p-panel styleClass="form-group" [toggleable]="true">
    <p-header>
        <span>Entities</span>
    </p-header>
    <div class="ui-fluid">
        <div class="ui-g">
            <div class="ui-g-12" routerLink="../category" style="cursor: pointer;">{{"furb.basico.category" | translate}}</div>
            <div class="ui-g-12" routerLink="../item-list" style="cursor: pointer;">{{"furb.basico.item_list" | translate}}</div>
            <div class="ui-g-12" routerLink="../shopping-list" style="cursor: pointer;">{{"furb.basico.shopping_list" | translate}}</div>
        </div>
    </div>
</p-panel>
<p-panel>
    <p-header>
        <span>Dependencies</span>
    </p-header>
    <div class="ui-fluid">
        <div class="ui-g">
            <div class="ui-g-12" *ngFor="let dep of dependencies">
                <span>{{dep.service}}: {{dep.version}}</span>
            </div>
        </div>
    </div>
</p-panel>
<!--{CA:FILE_CONTENTS:START}-->
<!--{CA:FILE_CONTENTS:END}-->