<div *ngIf="!customTemplate else customTemplate">
    <p-confirmDialog acceptLabel="{{'yes' | translate}}" acceptIcon="" rejectLabel="{{'no' | translate}}"
        rejectIcon="">
    </p-confirmDialog>
    <form [formGroup]="formGroup" novalidate>
        <p-panel styleClass="form-group" [toggleable]="false" [collapsed]="mainPanelCollapsed">
            <p-header>
                {{"furb.basico.item_list_form_general_title" | translate}}
            </p-header>
            <div class="ui-fluid" *ngIf="!customFormFields else customFormFields">
                <div class="ui-g">
                    <div [attr.data-hidden]="true" class="ui-g-12 ui-md-6">
                        <label for="id">{{"furb.basico.item_list_id" | translate}}</label>
                        <input type="text" id="id" name="id" pInputText formControlName="id" autocomplete="off" />
                    </div>
                    <div [attr.data-hidden]="!allPermissions?.product.visualizar" class="ui-g-12 ui-md-6 required">
                        <label for="product">{{"furb.basico.item_list_product" | translate}}</label>
                        <s-lookup dataKey="id" id="product" name="product" formControlName="product" [searchFields]="productSearchFields"
                            [searchGridFields]="productSearchGridFields" [searchGridData]="productSearchGridData"
                            [multiple]="false" [lookupSuggestions]="productLookupSuggestions" (onLookupRequest)="onProductLookupRequest($event)"
                            (onSearchRequest)="onProductSearchRequest($event)" lookupDisplayField="id" [searchTotalRecords]=productSearchTotalRecords
                            [searchTitle]="'furb.basico.item_list_product_search_title' | translate" [searchEmptyTitle]="'nothing_found' | translate"
                            [filterLabel]="'filter' | translate" [clearLabel]="'clear' | translate" [cancelLabel]="'cancel' | translate"
                            [selectLabel]="'select' | translate" [searchTotalRecordsLabel]="'total_records' | translate: {value: productSearchTotalRecords}"></s-lookup>
                        <s-control-errors [control]="formGroup.controls['product']" [errorMessages]="{ required: 'error_required' | translate }"></s-control-errors>
                    </div>
                    <div class="ui-g-12 ui-md-6 required">
                        <label for="quantity">{{"furb.basico.item_list_quantity" | translate}}</label>
                        <input type="number" id="quantity" name="quantity" pInputText formControlName="quantity" autocomplete="off"
                        />
                        <s-control-errors [control]="formGroup.controls['quantity']" [errorMessages]="{ required: 'error_required' | translate }"></s-control-errors>
                    </div>
                    <div class="ui-g-12 ui-md-6 required">
                        <label for="price">{{"furb.basico.item_list_price" | translate}}</label>
                        <input type="number" id="price" name="price" pInputText formControlName="price" autocomplete="off" />
                        <s-control-errors [control]="formGroup.controls['price']" [errorMessages]="{ required: 'error_required' | translate }"></s-control-errors>
                    </div>
                    <div class="ui-g-12 ui-md-6 required">
                        <label for="checked">{{"furb.basico.item_list_checked" | translate}}</label>
                        <div class="ui-inputgroup">
                            <p-checkbox inputId="checked" name="checked" binary="true" formControlName="checked"></p-checkbox>
                        </div>
                        <s-control-errors [control]="formGroup.controls['checked']" [errorMessages]="{ required: 'error_required' | translate }"></s-control-errors>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <label for="note">{{"furb.basico.item_list_note" | translate}}</label>
                        <input type="text" id="note" name="note" pInputText formControlName="note" autocomplete="off" />
                    </div>
                </div>
            </div>
            <p-footer>
                <button id="save-button" title="{{'save' | translate}} (Alt + Shift + S)" type="submit" pButton label="{{'save' | translate}}"
                    (click)="onSave()" *ngIf="isNew() || permissions.editar"></button>
                <button id="delete-button" title="{{'delete' | translate}} (Alt + Shift + X)" type="button" class="ui-button-secondary"
                    pButton label="{{'delete' | translate}}" (click)="onDelete()" *ngIf="!isNew() && permissions.excluir && !loading"></button>
                <button id="cancel-button" title="{{'cancel' | translate}} (Alt + Shift + C)" type="button" class="ui-button-link"
                    pButton label="{{'cancel' | translate}}" (click)="onCancel()"></button>
            </p-footer>
        </p-panel>
    </form>
</div>
<!--{CA:FILE_CONTENTS:START}-->
<!--{CA:FILE_CONTENTS:END}-->