<div *ngIf="!customTemplate else customTemplate">
    <p-confirmDialog acceptLabel="Sim" acceptIcon="" rejectLabel="Não"
        rejectIcon="">
    </p-confirmDialog>
    <form [formGroup]="formGroup" novalidate>
        <p-panel styleClass="form-group" [toggleable]="false" [collapsed]="mainPanelCollapsed">
            <p-header>
                Item
            </p-header>
            <div class="ui-fluid" *ngIf="!customFormFields else customFormFields">
                <div class="ui-g">
                    <div [attr.data-hidden]="true" class="ui-g-12 ui-md-6">
                        <label for="id">{{"furb.basico.item_list_id" | translate}}</label>
                        <input type="text" id="id" name="id" pInputText formControlName="id" autocomplete="off" />
                    </div>
                    <div class="ui-g-12 ui-md-6 required">
                        <label for="product">Produto</label>
                        <s-lookup dataKey="id" id="product" name="product" formControlName="product" [searchFields]="productSearchFields"
                            [searchGridFields]="productSearchGridFields" [searchGridData]="productSearchGridData"
                            [multiple]="false" [lookupSuggestions]="productLookupSuggestions" (onLookupRequest)="onProductLookupRequest($event)"
                            (onSearchRequest)="onProductSearchRequest($event)" lookupDisplayField="description" [searchTotalRecords]=productSearchTotalRecords
                            searchTitle="Buscar Produto" searchEmptyTitle="Nenhum Produto encontrado"
                            filterLabel="Filtrar" clearLabel="Limpar" cancelLabel="Cancelar"
                            selectLabel="Selecionar" searchTotalRecordsLabel="Registos encontrados: {{ productSearchTotalRecords }}"></s-lookup>
                        <s-control-errors [control]="formGroup.controls['product']" [errorMessages]="{ required: 'Informação obrigatória' }"></s-control-errors>
                    </div>
                    <div class="ui-g-12 ui-md-6 required">
                        <label for="quantity">Quantidade</label>
                        <input type="number" id="quantity" name="quantity" pInputText formControlName="quantity" autocomplete="off"
                        />
                        <s-control-errors [control]="formGroup.controls['quantity']" [errorMessages]="{ required: 'Informação obrigatória' }"></s-control-errors>
                    </div>
                    <div class="ui-g-12 ui-md-6 required">
                        <label for="price">Preço</label>
                        <input type="number" id="price" name="price" pInputText formControlName="price" autocomplete="off" />
                        <s-control-errors [control]="formGroup.controls['price']" [errorMessages]="{ required: 'Informação obrigatória' }"></s-control-errors>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <label for="checked">Marcado</label>
                        <div class="ui-inputgroup">
                            <p-checkbox inputId="checked" name="checked" binary="true" formControlName="checked"></p-checkbox>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <label for="note">Observação</label>
                        <input type="text" id="note" name="note" pInputText formControlName="note" autocomplete="off" />
                    </div>
                </div>
            </div>
            <p-footer>
                <button id="save-button" title="Salvar" type="submit" pButton label="Salvar"
                    (click)="onSave()"></button>
                <button id="delete-button" title="Excluir" type="button" class="ui-button-secondary"
                    pButton label="Excluir" (click)="onDelete()" *ngIf="!isNew() && !loading"></button>
                <button id="cancel-button" title="Cancelar" type="button" class="ui-button-link"
                    pButton label="Cancelar" (click)="onCancel()"></button>
            </p-footer>
        </p-panel>
    </form>
</div>
